<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <a href="/" class="navbar-brand"><img src="images/home/2.png"></a>
    <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
          href="" data-toggle="dropdown" >Back-end system</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/manage">Manage Product</a>
            <a class="dropdown-item" href="/add-product">Add Product</a>
          </div>
        </li>
    </ul>
</nav>